<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shout.user.first_name %>
</p>

<p>
  <strong>Space:</strong>
  <%= @shout.space.space_name %>
</p>

<p>
  <strong>Message:</strong>
  <%= @shout.message %>
</p>

<%= link_to 'Edit', edit_shout_path(@shout) %> |
<!-- <%= link_to 'Back', shouts_path %> -->
<%= link_to @shout.space.space_name, space_path(@shout.space) %>
