<div class="background-image-main">
  <div class="center-content" >
    <div class="header">
      <h2>Co-Habitat.</h2>
      <h5>Join us in revolutionizing workspaces.</h5>
      <h6>Find a Habitat:</h6>
      <%= form_tag(search_path, :method => "get", id: "search-form") do %>
      <!-- <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %> -->
      <%= select_tag :space_country_id, options_for_select(Country.all.order('id ASC').collect {|x| [x.name, x.id]}.insert(0, "Select a country")), class: "styled-dropdown"%>
      <select name="space_area_id" id="space_area_id" class="styled-dropdown"><option value="">Select an area</option></select>
      <%= submit_tag "Search", class: "btn btn-secondary" %>
      <% end %>

    </div>
  </div>

    <!-- <div class="col-xs-10 offset-xs-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 form-bar">
      <h6>Find a Habitat:</h6>
      <%= form_tag(search_path, :method => "get", id: "search-form") do %>
      <%= select_tag :space_country_id, options_for_select(Country.all.order('id ASC').collect {|x| [x.name, x.id]}.insert(0, "Select a country")), class: "styled-dropdown"%>
      <select name="space_area_id" id="space_area_id" class="styled-dropdown"><option value="">Select an area</option></select>
      <%= submit_tag "Search", class: "btn btn-secondary" %>
      <% end %>
    </div> -->
  <div class="latest-6-spaces col-xs-12 col-md-10 offset-md-1 for-footer">

    <h3 class="center-content add-padding">
      Newest habitats
    </h3>

    <% @spaces.each do |space| %>
    <div class="col-xs-12 col-sm-6 col-md-4 display-space-box">
      <img class="search-space-image" src="<%= space.images[0].url %>" alt="" />
      <h5><a href="spaces/<%= space.id %>"><%= space.space_name %></a></h5>
      <span><%= space.space_type.name %>, <%= space.vibe.name %></span>
    </div>
    <% end %>

  </div>
</div>


<!-- <%=link_to 'Login', login_path%>
<%=link_to 'Register', new_user_path%> -->
