<%= image_tag("space.jpg", alt: "coworkingspace") %>

<h1>Main#home</h1>

<%= yield %>

<%= form_tag(search_path, :method => "get", id: "search-form") do %>
<!-- <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %> -->
<%= select_tag :space_country_id, options_for_select(Country.all.order('id ASC').collect {|x| [x.name, x.id]}.insert(0, "Select a country"))%>
<select name="space_area_id" id="space_area_id"><option value="">Select an area</option></select>
<%= submit_tag "Search" %>

<% end %>

<% @spaces.each do |space| %>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <img class="search-space-image" src="<%= space.images[0].url %>" alt="" />
    <p><%= space.space_name %></p>
    <p><%= space.space_type.name %>,<%= space.vibe.name %></p>
  </div>
<% end %>


<%=link_to 'Login', login_path%>
<%=link_to 'Register', new_user_path%>

<% end %>
