
<%= form_for :user do |f| %>

<h4>Log In</h4>

<%= f.label :email, "Email" %>
<%= f.email_field :email, placeholder: "Enter your email" %><br>

<%= f.label :password, "Password" %>
<%= f.password_field :password, placeholder: "Enter your password" %><br>

<%= f.submit "Login" %>

<% end %>
