<%= form_for(space) do |f| %>
  <% if space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" name="space[user_id]" value="<%= @current_user.id %>">

  <!-- <div class="field">
    <%= f.label :country_id %>
    <%= f.number_field :country_id %>
  </div> -->

  <div class="field">
    <strong><%= f.label :country %></strong>
    <%= f.select :country_id, Country.all.order('name ASC').collect {|x| [x.name, x.id]}, { include_blank: 'Please select country' } %>
  </div>
  <div class="field">
    <%= f.label :area_id %>
    <% if :area_id %>
      <%= f.select :area_id, Area.where(country_id: space.country_id).order('name ASC').collect {|x| [x.name, x.id]} %>
    <% else :area_id %>
    <select class="" name="space[area_id]" id="space_area_id">
      <option disabled selected> Select country</option>
    </select>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :postal %>
    <%= f.number_field :postal %>
  </div>

  <div class="field">
    <%= f.label :space_name %>
    <%= f.text_field :space_name %>
  </div>

  <div class="field">
    <%= f.label :space_description %>
    <%= f.text_area :space_description %>
  </div>

  <div class="field">
    <%= f.label :space_type_id %>
    <%= f.select :space_type_id, SpaceType.all.order('name ASC').collect {|x| [x.name, x.id]}, { include_blank: 'Please select space type' } %>
  </div>

  <div class="field">
    <%= f.label :vibe_id %>
    <%= f.select :vibe_id, Vibe.all.order('name ASC').collect {|x| [x.name, x.id]}, { include_blank: 'Please select vibe' } %>
  </div>

  <div class="field">
    <%= f.label :amenities %>
    <%= f.select :amenity_ids, Amenity.all.collect {|x| [x.name,x.id]} , {}, :multiple => true %>
  </div>

  <div>

    <% @space.images.each do |image| %>
      <%= f.label :workspace_image %>
      <img src="<%= image.url %>" alt="" class="profileImg" />
    <% end %>

  </div>

  <div class="field">
    <%= f.label :add_workspace_image_1 %>
    <%= f.file_field :workspace_image_url_1 %>
  </div>

  <div class="field">
    <%= f.label :add_workspace_image_2 %>
    <%= f.file_field :workspace_image_url_2 %>
  </div>

  <div class="field">
    <%= f.label :add_workspace_image_3 %>
    <%= f.file_field :workspace_image_url_3 %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
