<div class="background-image-habitats">

  <div class="space-body center-content">


    <h1>Your Habitats</h1>
  </div>


<!-- <div class="space-details col-xs-12 col-md-10 offset-md-1"> -->

  <div class="container-fluid col-md-10 offset-md-1 habitat-table">
    <div class="row center-content col-xs-12">
      <br/>
        <%= button_to 'Add Habitat', new_space_path, :role => 'button', :class => "btn-habitat-actions", :method => :get %>
      <br/>
     <%if @spaces.length != 0 %>

      <div class="row add">
        <div class="col-sm-2">
           Name
        </div>
        <div class="col-sm-4">
           Location
        </div>
        <div class="col-sm-2">
           Amenities
        </div>
        <div class="col-sm-2">
           Type & Vibe
        </div>
        <div class="col-sm-4">
           <!-- Actions -->
        </div>
      </div>


      <% @spaces.each do |space| %>
      <div class="divider-line">

      </div>
        <div class="row">
          <div class="col-sm-2">
             <%= space.space_name %>
          </div>
          <div class="col-sm-4">
            <%= space.area.name %>,
            <%= space.address %>,
            <%= space.country.name%>,
            <%= space.postal %>
          </div>
          <div class="col-sm-2">
            <% space.amenities.each do |amenity| %>
            <span><%=amenity.name%></span><br>
            <% end %>
          </div>
          <div class="col-sm-2">
            <%= space.space_type.name %></br>
            <%= space.vibe.name %></br>
          </div>
          <div class="col-sm-2">
            <%= button_to 'Show', space, :role => 'button', :class => "btn-habitat-actions manage-habitat", :method => :get %>
              <%= button_to 'Edit', edit_space_path(space), :role => 'button', :class => "btn-habitat-actions manage-habitat", :method => :get %>
              <%= button_to 'Delete', space, method: :delete, data: { confirm: 'Are you sure? This action cannot be undone!' }, :role => 'button', :class => "btn-habitat-actions manage-habitat"  %>
          </div>
        </div>

        <% end %>

        <%else%>
          <div class="center-content">
            You have not listed any habitats. <br/>List one now and join the family!<br/><br/>
          </div>
      <% end %>
    </div>
 </div>





</div>

<!-- <%= link_to 'Logout', logout_path, method: :delete %> -->
