<p id="notice"><%= notice %></p>



<div class="container-fluid">
<div class="row">
<h1>Habitats</h1>

<div class="col-xs-12 col-md-10 offset-md-1">
  <%= link_to 'Add Habitat', new_space_path, :role => 'button', :class => "btn btn-outline-secondary btn-sm"  %>
      <table class="table table-hover table-bordered ">

        <thead class="thead">
          <tr>
            <!-- <th>User</th> -->
            <th>Habitat Name</th>
            <th>Location</th>
            <th>Amenities</th>
            <th>Type &amp; Vibe</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @spaces.each do |space| %>
          <tr>
            <!-- <td><%# space.user_id %></td> -->
            <td><strong><%= space.space_name %></strong></td>
            <td>
              <%= space.area.name %></br>
              <%= space.address %></br>
              <%= space.country.name%></br>
              <%= space.postal %></br>
            </td>
            <td>
              <% space.amenities.each do |amenity| %>
              <span><%=amenity.name%></span><br>
              <% end %>
            </td>
            <td>
              <%= space.space_type.name %></br>
              <%= space.vibe.name %></br>
            </td>


            <td><%= link_to 'Show', space, :role => 'button', :class => "btn btn-outline-success btn-sm"  %></br>
              <%= link_to 'Edit', edit_space_path(space), :role => 'button', :class => "btn btn-outline-info btn-sm"  %></br>
              <%= link_to 'Delete', space, method: :delete, data: { confirm: 'Are you sure? This action cannot be undone!' }, :role => 'button', :class => "btn btn-outline-danger btn-sm"  %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

</div>
</div>
</div>


<!-- <%= link_to 'Logout', logout_path, method: :delete %> -->
