<h5>Session user_id:  <%=@current_user.id.inspect%></h5>
<p id="notice"><%= notice %></p>
<h3>Space_<%="#{@space_id}"%></h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <% @space.images.order('id ASC').each do |image| %>
      <img src="<%= image.url %>" alt="" class="profileImg" />
      <% end %>
    </div>

    <div class="col-md-4">
      <p>
        <strong>Space name:</strong>
        <%= @space.space_name %></br>

        <strong>User:</strong>
        <%= @space.user.email %></br>

        <strong>Country:</strong>
        <%= @space.country.name %></br>


        <strong>Area:</strong>
        <%= @space.area.name %></br>


        <strong>Address:</strong>
        <%= @space.address %></br>


        <strong>Postal:</strong>
        <%= @space.postal %></br>


        <strong>Space description:</strong>
        <%= @space.space_description %></br>


        <strong>Space type:</strong>
        <%= @space.space_type.name %></br>


        <strong>Vibe:</strong>
        <%= @space.vibe.name %></br>
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <h4>Availabilities</h4>
    <table>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Seat</th>
          <th>Seat price</th>
          <th colspan="3"></th>
        </tr>
      <tbody>
        <% @availabilities.each do |availability| %>
          <tr>
            <td><%= availability.start %></td>
            <td><%= availability.end %></td>
            <td><%= availability.seat %></td>
            <td><%= availability.seat_price %></td>
            <td><%= link_to 'Edit', edit_availability_path(availability) %></td>
            <td><%= link_to 'Show', availability %></td>
            <td><%= link_to 'Destroy', availability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <td><%= link_to 'New', new_availability_path(space_id: @space.id)%></td>

  </div>
</div>

<div>
  <h4>Shoutout</h4>
  <% @space.shouts.order('id DESC').each do |shout| %>
    <p>
      <%= shout.message %><br/>
      by <a href="/users/<%= shout.user.id %>/"><%= shout.user.first_name %></a>
      <% if shout.user_id == @current_user.id %>
      <%= link_to 'Edit', edit_shout_path(shout) %>
      <%= link_to 'Delete', shout, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
  <% end %>
</div>

  <% if @current_user %>
    <%= form_for @shout do |f| %>
      <input type="hidden" name="shout[user_id]" value="<%= @current_user.id %>">
      <input type="hidden" name="shout[space_id]" value="<%= params[:id] %>">
      <div class="field">
      <%= f.text_area :message %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  <% else %>
    <p>
      <a href="/login">Login</a> to give a shoutout to your favourite space!
    </p>
  <% end %>


<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
<%= link_to 'Logout', logout_path, method: :delete %>
