<%= form_for(booking) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%=hidden_field(:booking, :space_id, options={ :value => @space_id } )%>
  </div>

  <div class="field">
    <%=hidden_field(:booking, :availability_id, options={ :value => @avail_id } )%>
  </div>

  <div class="field">
    <%= f.label :start %>
    <%= f.date_select(:start, use_short_month: true, order:[:day, :month, :year], selected:@availability.start)%>
  </div>

  <div class="field">
    <%= f.label :end %>
    <%= f.date_select(:end, use_short_month: true, order:[:day, :month, :year], selected:@availability.end) %>
  </div>

  <div class="field">
    <%= f.label :pax %>
    <%= f.number_field :seat, :value =>@availability.seat, :min => 1  %>
  </div>

  <div class="field">
    <%=hidden_field(:booking, :total_price, options={ :value => @avail_id, :id => 'booking_total_price'} )%>
  </div>

  <div class="field">
  Total Price: <strong> <span id="show_price">$<%=(@availability.seat)*(@availability.seat_price)%></span></strong>
  </div>


    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
    </article>

    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_Rq52dIY05mgLALHmZneD9pAJ"
      data-name="Co-Habitat"
      data-description="Make Booking"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto"
      data-zip-code="true">
    </script>

  <!-- <div class="actions">
    <%= f.submit %>
  </div> -->

  <div class="field">
    <%=hidden_field(:booking, :price, options={ :value => @seat_price, :id => 'seat_price' } )%>
  </div>
<% end %>
