<%= form_for(availability) do |f| %>
  <% if availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
      <% availability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%=hidden_field(:availability, :space_id, options={ :value => @space_id } )%>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select(:start, use_short_month: true, order:[:day, :month, :year]) %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select(:end, use_short_month: true, order:[:day, :month, :year])%>

  </div>

  <div class="field">
    <%= f.label :seat %>
    <%= f.number_field :seat, :value =>0, :min => 0 %>
  </div>

  <div class="field">
    <%= f.label :seat_price %>
    <%= f.text_field :seat_price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
