<p id="notice"><%= notice %></p>

<p>
  <strong>Space:</strong>
  <%= @space[:space_name] %>
</p>

<p>
  <strong>Start:</strong>
  <%= @availability.start.strftime("%d-%b-%Y") %>
</p>

<p>
  <strong>End:</strong>
  <%= @availability.end.strftime("%d-%b-%Y") %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @availability.seat %>
</p>

<p>
  <strong>Seat price:</strong>
  <%= @availability.seat_price %>
</p>

<p>
  <strong>Active:</strong>
  <%= @availability.active %>
</p>

<%if @current_user.id == @space.user_id%>
  <%= link_to 'Edit', edit_availability_path(@availability) %> |
<%end%>
<%= link_to "back", space_path(id: @availability.space_id) %>
<%# link_to 'Back', availabilities_path %>
